{% extends "layout.html" %}
{% block body %}
<form class="form-horizontal" action='{{ url_for('BranchView:post') }}' method="POST">
    <input type="hidden" id="id" name="id" value="{{ branch.id }}"/>
  <fieldset>
    <div id="legend">
      <legend class="">Edit branch</legend>
    </div>
    <div class="control-group">
      <label class="control-label"  for="name">Name</label>
      <div class="controls">
        <input type="text" id="name" name="name" placeholder="Give your branch meaningful name" class="input-xlarge" value="{{ branch.name }}">
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label" for="email">Address</label>
      <div class="controls">
          <textarea class="span4" id="address" name="address" placeholder="Official branch address" rows="5">{{ branch.address }}</textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"  for="token">Token</label>
      <div class="controls">
          <input type="text" id="token" name="token" placeholder="Give unique token" class="input-xlarge" value="{{ branch.token }}">
        <p class="help-block">Identify a POS installation</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Update</button>
        <button class="btn btn-cancel" onclick="history.go(-1);" type="button">Cancel</button>        
      </div>
    </div>
  </fieldset>
</form>

{% endblock %}
