{% extends "layout.html" %}
{% block body %}
<form class="form-horizontal" action='{{ url_for('BranchView:post') }}' method="POST">
    {{ form.hidden_tag() }}
    {{ form.id }}
  <fieldset>
    <div id="legend">
      <legend class="">Edit branch</legend>
    </div>
    <div class="control-group">
      <label class="control-label"  for="name">Name</label>
      <div class="controls">
         {{ form.name(placeholder="Give your branch meaningful name",class="input-xlarge") }}
      </div>
    </div>
 
    <div class="control-group">
      <label class="control-label" for="email">Address</label>
      <div class="controls">
          {{ form.address(placeholder="Official branch address",class="span4", rows="5") }}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"  for="token">Token</label>
      <div class="controls">
         {{ form.token(placeholder="Give unique token",class="input-xlarge") }}
          <p class="help-block">Identify a POS installation</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Update</button>
        <button class="btn btn-cancel" onclick="history.go(-1);" type="button">Cancel</button>        
      </div>
    </div>
  </fieldset>
</form>

{% endblock %}
