{% extends "layout-dashboard.html" %}
{% block body_nonlogged %}
<div class="row">
    <div class="span4 offset5">
      <div class="well">
        <legend>Sign in to FikrPOS Centre</legend>
        <form action="{{ url_for('SignView:signin')}}" method="POST" accept-charset="UTF-8">
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">x</a>Incorrect Username or Password!
            </div>      
                                        {{ login_form.hidden_tag() }}
                                        {{ login_form.username(class="span3", placeholder="Username")}}         
                                        {{ login_form.password(class="span3", placeholder="Password")}}
                                  

            <label class="checkbox">
                     {{ login_form.remember_me() }} {{ login_form.remember_me.label }}
            </label>
            <button class="btn-info btn" type="submit">Login</button>      
        </form>    
      </div>
    </div>
</div>
{% endblock %}
