<!doctype html>
<title>FikrPOS Distribution Centre</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
    body {
        padding-top: 60px;
        padding-bottom: 100px;
    }
</style>
<link href="/static/bootstrap.css" rel="stylesheet">
<link href="/static/bootstrap-responsive.css" rel="stylesheet">
<script src="/static/jquery.js"></script>
<script src="/static/bootstrap.js"></script>
<script src="/static/bootbox.min.js"></script>
<script src="/static/fikrposdc.js"></script>


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Distribution Centre</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/manage/users">Users</a></li>
                    <li><a href="/manage/branches">Branches</a></li>
                  </ul>
                </li>
        </ul>    
         <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>


<div id="main" class="container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	  <div class="alert">
		    <ul class="flashes">
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		</div>
	{% endif %}
	{% endwith %}

	{% block body %}{% endblock %}
	<hr>

        <div class="container">
<div class="row-fluid">
  <div class="span12">
    <div class="span2" style="width: 15%;">
      <ul class="unstyled">
        <li>GitHub<li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact & support</a></li>
          <li><a href="#">Enterprise</a></li>
          <li><a href="#">Site status</a></li>
          </ul>
      </div>
    <div class="span2" style="width: 15%;">
      <ul class="unstyled">
        <li>Applications<li>
          <li><a href="#">Product for Mac</a></li>
          <li><a href="#">Product for Windows</a></li>
          <li><a href="#">Product for Eclipse</a></li>
        <li><a href="#">Product mobile apps</a></li>
        </ul>
      </div>
    <div class="span2" style="width: 15%;">
      <ul class="unstyled">
        <li>Services<li>
          <li><a href="#">Web analytics</a></li>
          <li><a href="#">Presentations</a></li>
          <li><a href="#">Code snippets</a></li>
        <li><a href="#">Job board</a></li>
        </ul>
      </div>
    <div class="span2" style="width: 15%;">
      <ul class="unstyled">
        <li>Documentation<li>
          <li><a href="#">Product Help</a></li>
          <li><a href="#">Developer API</a></li>
          <li><a href="#">Product Markdown</a></li>
        <li><a href="#">Product Pages</a></li>
        </ul>
    </div>
    <div class="span2" style="width: 15%;">
      <ul class="unstyled">
        <li>More<li>
          <li><a href="#">Training</a></li>
          <li><a href="#">Students & teachers</a></li>
          <li><a href="#">The Shop</a></li>
          <li><a href="#">Plans & pricing</a></li>
          <li><a href="#">Contact us</a></li>
          </ul>
    </div>
    </div>
  </div>
<hr>
<div class="row-fluid">
  <div class="span12">
    <div class="span8">
      <a href="#">Terms of Service</a>    
      <a href="#">Privacy</a>    
      <a href="#">Security</a>
      </div>
    <div class="span4">
      <p class="muted pull-right">© 2013 FikrMalaysia. All rights reserved<br/>
<a href="https://www.openshift.com/" target="_blank"><img alt="Powered by OpenShift" src="/static/powered-transparent-black.png"></a>
</p>
      </div>
    </div>
  </div>
  </div>


</div>
