{% extends "layout-dashboard.html" %}
{% block body_nonlogged %}
<div class="container">
    <div class="row">
        <div class="span3">
        </div>
        <div class="span9">    
                            <form class="form-horizontal" action={{url_for('RegistrationView:post')}} method="POST" >
    {{ form.hidden_tag() }}
                                <div class="heading">
                                    <h4 class="form-heading">Sign Up</h4>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="company_name">{{ form.company_name.label }}</label>
                                    <div class="controls">
                                        {{ form.company_name(placeholder="E.g. Some Software Pvt. Ltd.") }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="firstname">{{ form.firstname.label}}</label>
                                    <div class="controls">
                                        {{ form.firstname(placeholder="E.g. Ashwin") }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="lastname">{{form.lastname.label}}</label>
                                    <div class="controls">
                                        {{form.lastname(placeholder="E.g. Hegde")}}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="email">{{form.email.label}}</label>
                                    <div class="controls">
                                        {{form.email(placeholder="E.g. ashwinh@cybage.com")}}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="username">{{form.username.label}}</label>
                                    <div class="controls">
                                        {{form.username(placeholder="E.g. ashwinhegde")}}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="password">{{form.password.label}}</label>
                                    <div class="controls">
                                        {{form.password(placeholder="Min. 6 Characters")}}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="password">{{form.password_confirm.label}}</label>
                                    <div class="controls">
                                        {{form.password_confirm(placeholder="Min. 6 Characters")}}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">

                                        <label class="checkbox">
                                        {{form.agree}} {{form.agree.label}}
                                        </label>
                                        <button type="submit" class="btn btn-success">Sign Up</button>
                                    </div>
                                </div>
                            </form>
  </div>                            
</div>
</div>
{% endblock %}
