{% extends "layout.html" %}
{% block body %}
<form class="form-horizontal" action='{{ url_for('UserView:post') }}' method="POST">
    {{ form.hidden_tag() }}
    {{ form.id }}
  <fieldset>
    <div id="legend">
      <legend class="">Edit user</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">{{ form.username.label }}</label>
      <div class="controls">          
        {{ form.username(placeholder="Username can contain any letters or numbers, without spaces",class="input-xlarge") }}
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">{{ form.email.label }}</label>
      <div class="controls">
        {{ form.email(placeholder="Please provide your valid E-mail address",class="input-xlarge") }}
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">{{ form.password.label }}</label>
      <div class="controls">
        {{ form.password(placeholder="Password should be at least 4 characters",class="input-xlarge") }}
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">{{ form.password_confirm.label }}</label>
      <div class="controls">
                  {{ form.password_confirm(placeholder="Please confirm password",class="input-xlarge") }}
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Update</button>
        <a href="/manage/users" class="btn">Cancel</a>
      </div>
    </div>
  </fieldset>
</form>

{% endblock %}
